git+https://github.com/echalmers/hippocluster.git
matplotlib~=3.5.3
numpy~=1.22.4
networkx~=2.7.1
pip~=22.2.2
setuptools~=63.2.0
packaging~=21.3
future~=0.18.2
utils~=1.0.1
pyparsing~=3.0.9
pydot~=1.4.2